<h1>Add Product</h1>
<form #f="ngForm">
  <div class="form-group">
    <label>id</label>
    <input type="number" name="id" class="form-control" [(ngModel)]="product.id" #i="ngModel" required>
  </div>
  <div class="alert alert-danger" *ngIf="i.invalid && i.touched">
    id is required
  </div>
  <div class="form-group">
    <label>Title</label>
    <input type="text" name="title" class="form-control" [(ngModel)]="product.title" #t="ngModel"
           required
           pattern="[a-zA-Z]+$"
           minlength="3">
  </div>
  <div class="alert alert-danger" *ngIf="t.invalid && t.touched">
    <div *ngIf="t.errors.required">title is required</div>
    <div *ngIf="t.errors.minlength">title minlength is 3</div>
    <div *ngIf="t.errors.pattern">message pattern</div>
  </div>
  <div class="form-group">
    <label>Quantity</label>
    <input type="number" name="quantity" class="form-control" [(ngModel)]="product.quantity" #q="ngModel"
           required>
  </div>
  <div class="alert alert-danger" *ngIf="q.invalid && q.touched">
    quantity is required
  </div>
  <div class="alert alert-danger" *ngIf="q.value<0">
    quantity >0
  </div>
  <div class="form-group">
    <label>price</label>
    <input type="number" name="price" class="form-control" [(ngModel)]="product.price" #p="ngModel"
           required>
  </div>
  <div class="alert alert-danger" *ngIf="p.invalid && p.touched">
    price  is required
  </div>


  <button class="btn btn-success" [disabled]="f.invalid" (click)="save()" >save</button>
</form>
